.item_bg{
	background-color: #0082cc;
}
.item{
	width: 90%;
	margin: 5%;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #FFF;
}
.item .item_con{
	width: 100%;
	height: 50%;
}
.item .item_con .item_img{
	width: 100%;
	height: 100%;
	object-fit: fill;
}
.item .div_line{
	position: relative;
	width: 100%;
	height: 10px;
}
.item .div_line .gap1{
	display: inline-block;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 0;
	left: -10px;
	z-index: 10;
	background-color: #0082cc;
}
.item .div_line .line{
	width: 100%;
	height: 4px;
	border-bottom: 1px dashed #e1e1e1;
}
.item .div_line .gap2{
	display: inline-block;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	z-index: 10;
	top: 0;
	right: -10px;
	background-color: #0082cc;
}
.item .item_hd{
	padding-top: 5px;
	margin: 10px 0;
}
.item .item_hd .name{
	float: left;
	line-height: 20px;
	font-size: 20px;
	color: #666;
	margin-left: 10px;
}
.item .item_hd .price{
	float: right;
	margin-right: 10px;
	color: #333;
	font-size: 16px;
	line-height: 20px;
}
.tips{
	width: 90%;
	margin: 0 5%;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 20px;
	color: #FFF;
}
.tips .tips_hd{
	font-size: 14px;
	line-height: 20px;
	margin: 0;
}
.pay_btn{
	display: block;
	text-align: center;
	padding: 10px 0;
	width: 90%;
	margin: 5%;
	border-radius: 5px;
	font-size: 16px;
	background-color: #44B549;
	color: #FFF;
}