.headBox{
	width: 100%;
	background-color: #373737;
}
.headBox .headCon{
	width: 1000px;
	margin: 0 auto;
}
.headBox .headCon .order{
	display: inline-block;
	color: #f1f1f1;
	font-size: 14px;
	line-height: 60px;
}
.headBox .headCon .signOut{
	float: right;
	display: inline-block;
	font-size: 14px;
	padding-left: 20px;
	background: url("../images/signout.png") no-repeat left;
	background-size: 18px 18px;
	color: #f1f1f1;
	line-height: 60px;
}
.headBox .headCon .door{
	float: right;
	color: #f1f1f1;
	line-height: 60px;
}